.form {
  margin: auto 0;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  &__input {
    padding: 8px;
    margin: 0;
    outline: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    color: #444444;
    &:focus {
      border-color: #cecece;
    }
    width: 100%;
  }
  &__message {
    position: absolute;
    font-size: 1rem;
    bottom: -2.5rem;
    color: #f71212;
  }
  &__character-count {
    position: absolute;
    left: 6px;
    top: 101%;
    font-size: .9rem;
    color: #424242;
  }
  &__button {
    margin-left: 4px;
    padding: 0 30px;
  }
}

.latest {
  width: 100%;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 400;
    margin: 0;
  }
  .wishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      overflow-y: auto;
      margin-bottom: 4px;
      width: 100%;
    }
    &__item {
      color: #202020;
      text-align: center;
      font-size: 1.3rem;
      padding: 1px 0;
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__seemore {
      color: #000;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 600;
      &:hover {
        color: #414141;
      }
    }
  }  
}

@media only screen and (min-width: 600px) {
  .form {
    width: 90%;
    &__message {
      bottom: -1.4rem;

    }
  }
  .latest {
    width: 50%;
  }
}