.form {
  margin: auto 0;
  width:100%;
  display: flex;
  position: relative;
  justify-content: center;
  &__input {
    padding: 8px;
    margin: 0;
    outline: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    color: #444444;
    &:focus {
      border-color: #cecece;
    }
    width: 80%;
  }
  &__message{
    position: absolute;
    font-size: 1rem;
    bottom: -1.4rem;
    color: #f71212;
  }
  &__button {
    margin-left: 4px;
    padding: 0 30px;
  }
}

.latest {
  width: 100%;
  &__title {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 400;
    margin: 0;
  }
  .wishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      overflow-y: auto;
      margin-bottom: 4px;
    }
    &__item {
      color: #202020;
      text-align: center;
      font-size: 1.3rem;
      padding: 1px 0;
      font-weight: 300;
    }
    &__seemore {
      color: #000;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 600;
      &:hover {
        color: #414141;
      }
    }
  }  
}
