.wishes {
  box-sizing: border-box;
  padding-top: 40px;
}

.sort {
  position: fixed; 
  width: 100%; 
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 2;
  height: 40px;
  box-sizing: border-box;
  padding: 0 20px;

  &__order {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #444444;
    font-size: 0.85rem;
    font-weight: 600;
    &:hover {
      color: #5f5f5f;
    }
  }
}

.link {
  text-decoration: none;
  color: #444444;
  font-size: 1.2rem;
  &:hover {
    color: #5f5f5f;
  }
}