@keyframes star-anim {
  from {transform: translate(0, -3px)}
  to {transform: translate(0, 3px)}
}
.header {
  color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  background-color: var(--background-color);
  z-index: 2;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  }

  &__star {
    margin-left: -8px;
    fill: #444444;
    animation-duration: 1.3s;
    animation-name: star-anim;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: ease-in-out;
  }
  &__button {
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #444444;
    padding: 4px;
    &:hover {
      color: #5f5f5f;
    }
  }
}

.share {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  &__modal {
    background-color: var(--background-color);
    width: 300px;
    border-radius: 4px;
    margin: auto;
    padding: 6px;
    &-header {
      margin: 0 0 4px 0;
      border-bottom: 1px solid #e6e6e6;
      position: relative;
    }

    &-title {
      margin: 0;
      font-weight: 400;
      text-align: center;
      color: #313131;
    }

    &-close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: none;
      padding: 10px;
      outline: none;
      cursor: pointer;
      &:hover svg { 
        fill: #575757;
      }
    }

    &-body {
      height: auto;
      display: grid;
      align-items: center;
      justify-content: center;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, 48px);
      grid-template-rows: auto;
      gap: 6px
    }
  }
}

@media only screen and (min-width: 600px) {
  .header {
    height: 120px;
  }
  .paypal-donate {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .share-button {
    position: absolute;
    right: 20px;
    top: 50px;
  }
}